:root{
    --mainColour:#eaeaea;  
    --secondaryColor:#fff;

    --borderColor: #c1c1c1;

    --mainText:black;
    --secondaryText:#4b5156;

    --ThemeDotBorder: #24292e;
    --previewBg:rgb(251, 249, 243, 0.8);
    --preview-shadow: #f0ead6;

    --buttonColor: black;

}


html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Russo One', sans-serif;
    color: var(--mainText);
    font-weight: 500;
}

p, li, span, label, input, textarea{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    color: var(--mainText);
}
a{
 text-decoration: none;
 color: #17a2b8;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.s1{
    background-color: var(--mainColour);
    border-bottom: 2px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom:2px solid var(--borderColor);
    overflow: auto;
}
.main-container{
    width: 1200px;
    margin:0 auto;
}
.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
}
.intro-wrapper{
    background-color: var(--secondaryColor);
    border-color: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    box-shadow: -1px 1px 13px 2px rgba(0,0,0,0.56);
    -webkit-box-shadow: -1px 1px 13px 2px rgba(0,0,0,0.56);
    -moz-box-shadow: -1px 1px 13px 2px rgba(0,0,0,0.56);;
      
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'nav-wrapper nav-wrapper' 
        'left-column right-column'
    ;
}
#navigation{
    margin: 0;
    padding: 10px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.dot-wrapper{
  display: flex;
  padding: 10px;
}
#dots-1{
    background-color: #FC6058;
}
#dots-2{
    background-color: #FEC02F;
}
#dots-3{
    background-color: #2ACA3E;
}
.browser-dot{
   background-color: black;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   margin: 5px ;
}
.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColour);
}
.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}
#profile_pic{
  display: block;
  width: 200px;
  height: 250px;
  margin: auto;
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.Theme-dot{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid var(--ThemeDotBorder);
  background-color: black;
}
.Theme-dot:hover{
    border: 4px solid var(--ThemeDotBorder);
}
#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: #192734 ;
}
#green-mode{
    background-color: #78866B;
}
#purple-mode{
   background-color: #7e4c74 ;
}
.Right-colum{
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
}
#preview-shadow{
    background-color: var(--preview-shadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}
#settings-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}
.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute
}
#corner-t1{
    top:-5px ;
    left: -5px;
}
#corner-tr{
    top: -5px;
    right: -5px;
}
#corner-br{
   bottom: -5px;
   right: -5px;
}
#corner-bl{
    bottom: -5px;
    left: -5px;
}
.About-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#skills{
    width: 400px;
    display: flex;
    justify-content: center;
    background-color: var(--preview-shadow);
}
.social-links{
    display: grid;
    text-align: center;
}
#social_img{
    width: 100%;
    height: 300px;
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    /* grid-template-columns: repeat(auto-fit, 300px); */
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}
.post{
    box-shadow: 1px 0px 12px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 0px 12px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 0px 12px 3px rgba(0,0,0,0.4);
}
.post-review{
    background-color: #fff;
    padding: 15px;
    border-top: 2px solid #000;
}
.post-title{
    color: #000;
    margin: 0;
}
.post-intro{
    color: #000;
}

#Contact-form{
    display: block;
    max-width: 600px;
    margin: auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColour);
    margin-bottom: 50px;
}
#Contact-form label{
    line-height: 2.7em;
}
.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}
.thumbnail{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.post-btn{
    border: none;
    background-color: #192734;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    font-weight: bolder;
    text-transform: uppercase;
}
#textarea{
    height: 100px;
}
#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top:10px ;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width:800px) {
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
           'nav-wrapper'
           'left-column'
           'right-column'
        ;
    }
    h1{font-size: 30px;}
    .Right-colum{
        justify-content: center;
    }
    .post-wrapper{
        grid-template-columns: 350px;
    }
}